.avatar {
    height: 60px;
    border-radius: 50%;
    grid-area: a;
    /* #3CC7B7 */
}

.avatar img {
    height: 60px;
    border-radius: 50%;
    grid-area: a;
}

.online:before {
    position: absolute;
    content: '';
    background-color: #3CC7B7;
    border-radius:50%;
    width: 18px;
    height: 18px;
    pointer-events: none;
    margin-top: 43px;
    margin-left: 42px;
    border: 2px solid white;
}

/* .onlineDot {
    background-color: #3CC7B7;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: relative;
    top: 90%;
    left: -1800%;
} */

.userWrapper {
    display: grid;
    grid-template:
        "a b . . . . . . d"
        "a c . . . . . . .";
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.userName {
    grid-area: b;
    font-size: 1.1rem;
    font-weight: 600;
}

.userMsg {
    grid-area: c;
    font-size: 0.8rem;
    margin-top: -10px;
}

.msgTime {
    grid-area: d;
    font-size: 0.8rem;
}

.line {
    width: 60%;
    margin: auto;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    height: 1px;
    color: #c5afaf;
    background-color: #dcc5c5;
    border: none;

}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .sidebar {
        width: 30vw;
        background-color: #FFFFFF;
        height: 85vh;
        border-radius: 30px;
        padding-top: 1rem;
    }
}